# Kunci Konfigurasi Firebase untuk Vercel
# Dapatkan ini dari Firebase Console (Project Settings > General > Web App)
VITE_FIREBASE_API_KEY="AIzaSyDIRdoz5QJrKrf785tTwRpN9iolmyifJK0"
VITE_FIREBASE_AUTH_DOMAIN="aplikasisatuguru.firebaseapp.com"
VITE_FIREBASE_PROJECT_ID=aplikasisatuguru"
VITE_FIREBASE_STORAGE_BUCKET="aplikasisatuguru.firebasestorage.app"
VITE_FIREBASE_MESSAGING_SENDER_ID="807961540559"
VITE_FIREBASE_APP_ID="1:807961540559:web:e814dfd328d3ea83f8c4ba"
